<html>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <br>
            <div class="jumbotron">
            <p>
                Put detail description about you and your company.
            </p>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>